.App {
  text-align: center;
  width: 500px;
  min-height: 300px;
  background: rgba(25,63, 63, 0.2);
  margin: auto;
  padding-bottom: 50px;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

button{
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    font-size: 16px;
    border: 1px solid white;
    background: rgba(20,71,181, 0.75);
    box-shadow:0 0 5px white;
    color: white
}

.submitButton{
    font-size: 16px;
    padding: 0;
    width: 100px;
    background: rgba(20,71,181, 0.6);
    border: 1px solid white;
    color: white;
}

button:hover{
    background: rgba(20,71,181, 1);
}

.todoList{
    padding-top: 100px;
    padding-bottom: 10px;
}

li{
    margin:10px 0;
    font-size: 20px;
}

form{
    padding-bottom: 25px;
}

form input{
    height: 25px;
    margin: 5px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

* {
    border-radius: 5px; 
}